* {
  box-sizing: border-box;
}

body {
  background: white;
  line-height: 1;
  min-height: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

nav {
  column-count: 3;
}

.col {
  width: 100%;
  float:right;
  text-align:right;
}

.col-1 {
  width: 100%;
  float: left;
  text-align: left;
}

.left {
  text-align: left;
}

.logo {
  text-align: center;
}

nav li{
  display: inline-block;
  padding: 10px;
  list-style: none;
  font-style: none;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: gray;
  font-weight: 500;
}

a:hover, a:focus {
  font-weight: bold;
}

nav .col-1 li + li:before{
    content: " | ";
    margin-right: 10px;
}

.button {
  background-color: green;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
}

#header {
    padding: 10px;
}

#promo {
  background-color: rgb(224, 73, 53);
  padding: 3px;
  text-align: center;
  color: white;
}

.spantext {
  font-size: 14px;
  font-family: sans-serif;
}

a .spantext {
  color: white;
}
.modal-wrapper {
  position: absolute;
   background-color: rgba(0, 0, 0, 0.7);
   margin: 0 auto;
   padding: 50px;
   height: auto;
   top: 30%;
   left: 15%;
   display: none;
   width: 70%
}

.modal-content {
  background:white;

  padding: 15px;
  text-align: center;
}

.modal-close {
  text-align: left;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

img {
  width: 100%;
}

#vid {
  background-image: url('../images/fillerImage.jpg');
  height: auto;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;

}

#vid h1 {
  padding-top: 160px;
  font-size: 38px;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
  line-height: 1;
  color: white;
}

#vid h4 {
  font-family: sans-serif;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-weight: 400;
}

#vid > a {
  color: black;
  background: white;
  padding: 20px;
  font-size: 16px;
  font-family: sans-serif;
}

.space > p > a {
  font-size: 16px;
  font-family: sans-serif;
  color: white;
  font-weight: lighter;
  margin-top: 30px;
  padding: 30px;
  text-shadow: 1px 1px 1px black;
}

.space {
  margin: 30px;
  padding: 20px;
}
