@media screen and (min-width: 599px) {
  .small-nav {
    display: none;
  }

  #small-footer {
    display: none;
  }
}

@media screen and (max-width: 813px) {
  .footer-ul {
    list-style: none;
    border: none;
    display: inline-block;
    padding: 10px;
    text-align: left;
    width: auto;
    vertical-align: top;
  }
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }

  #header {
    background: linear-gradient(173deg, rgb(116, 72, 215) 18%, rgb(118, 83, 229) 18% 58%, rgb(115, 111, 223) 58% 80%, white 80% 96%);
    color: white;
    background-size: cover;
  }

  .wrapper {
    margin: 0;
  }

  .main-nav {
    display: none;
  }

  .round p {
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .call-to-action-button {
    margin-top: 10px;
  }

  #our-services > div > ul > a > li > p {
    padding-top: 6px;
    font-size: 10px;
    color: gray;
    padding-left: 64px;
    line-height: normal;
  }

  #footer {
    display: none;
  }

  #small-footer {
    background-color: rgb(115, 111, 223);
    color: white;
  }

  .footer-ul {
    list-style: none;
    border: none;
    display: inline-block;
    padding: 30px;
    text-align: left;
    width: auto;
    vertical-align: top;
  }

  select {
    font-size: 14px;
    color: white;
    background-color: rgb(115, 111, 223);
    height: 30px;
  }

}
